<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h2>Select a video to upload and play</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if filename %}
	<div style="margin: 10px auto;">
		<video width="640" height="480"  controls="controls"  id="vid">
			<source src="{{ url_for('upload.display_video', filename=filename) }}" type="video/mp4"></source>
		</video>
		<div style="margin:10px">
			<button onclick="getTime()">Inspect</button>
		</div>
		<script>
			function getTime()
			{
				let video=document.getElementById("vid")
				let frameNumber=parseFloat(video.currentTime,10)*24;
				console.log(Math.floor(frameNumber))
			}
		</script>
	</div>
{% endif %}
<form method="post" action="/upload/post" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Upload">
	</p>
</form>
</body>
</html>
