{% extends 'base.html'%}
	{% block title %} Document{% endblock %}

{% block content %}
	<h2>Select a video to upload and play</h2>
<div>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
	  {% endif %}
	{% endwith %}
	{% if filename %}
		<li>Sucessfully uploaded {{filename}}</li>		
	{% endif %}
	</ul> 
</div>
<form method="post" action="/upload/post" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Upload">
	</p>
{% endblock %}
