{% extends 'base.html' %}


{% block title %}
{% endblock %}

{%block content%}

{%if filename %}
<div  class="h-1/2 mx-20 flex flex-row w-auto text-white bg-gray-900 border-solid border-2 border-sky-700 rounded-lg">
	<div class="w-auto ">
		<video controls="controls"  id="vid" class="h-3/4 m-8 w-auto ">
			<source src="{{ url_for('static',filename='uploads/'+filename) }}" type="video/mp4" id="src"></source>
		</video>
		<div class="mx-20 w-20 text-center rounded-md bg-teal-500 hover:bg-teal-600 duration-150">
			<button class="text-white text-xl  hover:scale-105  duration-150" onclick="getTime()">Inspect</button>
		</div>
	</div>
	<div class="bg-gray-400 flex flex-columns columns-3 gap-3  m-8 w-1/2 overflow-scroll" id="display">
			{% for i in faceData %}
				<img src="data:image/jpeg;base64,{{i}}" class="w-44 h-44">
			{%endfor%}
	</div>
</div>
		<script>
			function getTime()
			{
				let video=document.getElementById("vid")
				
				let frameNumber=Math.floor(parseFloat(video.currentTime,10)*24);
					$.ajax({
					  type : 'POST',
					  url : "{{url_for('videos.display_video',filename=filename )}}",
					  data : {'data':frameNumber},
					  success:function(response){$("body").empty();document.write(response)}
					})

					%.ajax({
						type:"POST",
						
					})
			}
		</script>
{%endif%}
<div class="gap-8 columns-4 h-auto mx-20 m-8 bg-gray-900 rounded-md overflow-hidden ">
		<h2 class="text-white text-xl mx-4">Library:</h2>
    {% for i in files %}
    <div class="w-auto bg-teal-700 my-4 text-center rounded-md font-bold overflow-auto hover:scale-105 duration-150">
		<a class="text-amber-400 text-ellipsis overflow-hidden ..." href="{{url_for('videos.display_video',filename=i )}}">
			<p class="text-ellipsis overflow-hidden ..">{{i}}</p>
		</a>
	</div>
    {% endfor %}
	</div>
{%endblock%}