<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
</head>
<body>
        <ul class="flex flex-row bg-black">
          <li>
            <a href="{{url_for('main.index')}}" clas>
              <img src="{{url_for('static',filename='assets/logo.png')}}" alt="dedsec" class="mx-10 my-0 h-40 ">
            </a>
          </li>
          <li class="align-middle">
            <a href="{{url_for('upload.upload_form')}}">
              <img src="{{url_for('static',filename='assets/upload.png')}}" alt="dedsec" class="ml-[720px] my-16 h-8 w-40">
            </a>
          </li>
          <li>
            <a href="{{url_for('videos.display_all')}}">
              <img src="{{url_for('static',filename='assets/inspect.png')}}" alt="dedsec" class="mx-10 my-16 h-8 w-40 ">
            </a>
          </li>
        </ul>
        {% block content %} {% endblock %}
</body>
</html>
