<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
</head>
<body>
        <nav>
          <a href="{{url_for('main.index')}}">Home</a>
          <a href="{{url_for('upload.upload_form')}}">Upload</a>
          <a href="{{url_for('videos.display_all')}}">Inspect</a>
        </nav>
        {% block content %} {% endblock %}
</body>
</html>
