{% extends 'base.html' %}
    {% block title %} Dedsec|Home {% endblock %}

{% block content %}
<div class="content">
    <!-- <h2 class="text-white px-24">welcome to dedsec</h2> -->
    <img src="{{url_for('static',filename='assets/welcometo.png')}}" alt="dedsec" class="mx-20 my-0 h-20 ">
    <img src="{{url_for('static',filename='assets/dedsecb.png')}}" alt="dedsec" class="mx-20 my-0 h-28 ">
    <div class="px-12 py-16 ">
        <a href="{{url_for('upload.upload_form')}}">
            <img src="{{url_for('static',filename='assets/ianpr.png')}}" alt="dedsec" class="mx-10 h-56 w-120 hover:scale-105 duration-200 border-solid border-2 border-sky-500 rounded-lg">
        </a>
    </div>
</div>
{% endblock %}


